<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <title>{{{pageTitle}}}</title>

</head>
<body class="main-header">
<header id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">

            </div>
        </div>

        <div class="header-proposition">
            <div class="content">
                <nav id="proposition-menu">
                </nav>
            </div>
        </div>

    </div>
</header>
<!-- header bar -->
<div id="global-header-bar"></div>

<!-- main content -->
<main id="content">

    {{#block "content"}}

    {{/block}}

</main>
<!-- /main content -->

<div id="global-app-error" class="app-error hidden"></div>

</body>
</html>
